/****************************************************************
  VAR
****************************************************************/
:root{
  --light-grey:#F8F9FA;
  --blue:#1B72E8;
  --orange-bell:#FF8F00;
  --grey:#5B5858;
}
/****************************************************************
  GENERAL
****************************************************************/
body{
  font-family: 'Roboto', sans-serif;
}
a{
  text-decoration: none;
}
.bg_badge{
  background-color: rgba(0, 0, 0, 0.76);
}
.grey{
  color: var(--grey);
}
.orange-bell{
  color: var(--orange-bell);
}
/****************************************************************
  DEBUG
****************************************************************/
.debug{
  min-height: 50px;
  min-width: 50px;
  background-color: rgba(0, 0, 0, 0.507);
  border: 1px solid black;
}
.ltl-debug-box{
  min-height: 200px;
  min-width: 200px;
  background-color: rgba(216, 9, 9, 0.507);
}
.debug-box{
  min-height: 400px;

  background-color: rgba(216, 9, 9, 0.507);
}
/****************************************************************
  PERSONAL CHANGES
****************************************************************/
.personal_width_md{
  width: 150px;
}
.personal_img_box_md{
  width: 130px;
  height: 25px;
}
.personal_th{
  width: 100px;
}
.personal_bg{
  background: url(../img/sidebar-bg.png);
  background-color: #051E34;
}

.personal_bg_icon{
  background-color: #F26551;
}
.ltl_img{
  width: 55px;
  height: 55px;
}
/****************************************************************
  HEADER
****************************************************************/
header{
  height: 80px;
}
/****************************************************************
  ASIDE
****************************************************************/
aside{
  width: 80px;
}
/****************************************************************
  MAIN
****************************************************************/
.box-main{
  height: calc(100vh - 80px);
  padding-top: 80px;
}
main{
  width: calc(100vw - 80px);
}
@media screen and (min-width:998px) {
  aside{
    width: 150px;
  }
  main{
    width: calc(100vw - 150px);
  }
}
@media screen and (min-width:998px) {
  .personal_offcanvas{
    width:50%!important;
  }
}