/****************************************************************
  VAR
****************************************************************/
:root{
  --light-grey:#F8F9FA;
  --blue:#1B72E8;
  --orange-bell:#FF8F00;
}
/****************************************************************
  GENERAL
****************************************************************/
body{
  font-family: 'Roboto', sans-serif;
}
.orange-bell{
  color: var(--orange-bell);
}
/****************************************************************
  DEBUG
****************************************************************/
.debug{
  min-height: 50px;
  min-width: 50px;
  background-color: rgba(0, 0, 0, 0.507);
  border: 1px solid black;
}
.ltl-debug-box{
  min-height: 200px;
  min-width: 200px;
  background-color: rgba(216, 9, 9, 0.507);
}
.debug-box{
  min-height: 400px;

  background-color: rgba(216, 9, 9, 0.507);
}
/****************************************************************
  PERSONAL CHANGES
****************************************************************/
.personal_width_md{
  width: 150px;
}
/****************************************************************
  BODY
****************************************************************/
/****************************************************************
  HEADER
****************************************************************/
header{
  height: 70px;
}
/****************************************************************
  ASIDE
****************************************************************/
aside{
  width: 80px;
}
/****************************************************************
  MAIN
****************************************************************/
.box-main{
  height: calc(100vh - 70px);
}
main{
  width: calc(100vw - 80px);
}